
.wrapper {
  display: flex;
}

.wrapper > div {
  flex: 1;
  text-align: center;
}

body {
  background-image: url("../kuvat/pattern.png");
  background-color: #cccccc;

  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: Lorem ipsum;
  color: black;
  flex-direction: column;
  height: fit-content;
  border: 2px solid black;
}
h1 {
  text-align: center;
  background-image: url("../kuvat/invi.png");
  border: 1px solid black;
  background-repeat: no-repeat;
	background-size: 100% 100%;
	text-shadow: 1px 1px #001a33;
}
.wrapper2 {
	text-align: center;
}
wrapper3 {
	background-color: #f2f2f2
}
section {
	width: 100%;
	padding: 20px;
	background-image: url("../kuvat/invi.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
nav {
	border: 1px solid black;
	background-image: url("../kuvat/chat.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


/* mouse over link */
a:hover {
  color: red;
}